#post {
    section {
        margin: 60px 0;
    }
    h2 {
        text-transform: capitalize;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            article {
                margin: 30px 0;
            }
        }
    }
    .divider {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        line-height: 0.1em;
        margin: 10px 0 60px;
        span {
            background-color: #ffffff;
            padding: 0 20px;
        }
    }
    .comment-excerpt {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .post-author {
        .col-sm-6 {
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
}
