<div class="container" id="comments">
    <div class="page-header">
        <h1>Comments</h1>
    </div>
    <ul>
        <li ng-repeat="c in comments.comments">
            <article class="comment">
                <header class="comment-header">
                    <h2 class="comment-title"><a ng-href="./#/comments/{{c.id}}">{{c.name}}</a></h2>
                </header>
                <section class="comment-excerpt">
                    <p>{{c.body}} <a class="read-more" ng-href="./#/comments/{{c.id}}">...read more</a></p>
                </section>
            </article>
            <hr>
        </li>
    </ul>
</div>
